.ball {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--ball-width);
	height: var(--ball-width);
	border-radius: 50%;
	pointer-events: none;
	background: transparent;
	border: 1px solid #cccccc;
	transition: all 0.1s ease-out;
	z-index: 100;
}
.ballContainer {
	position: relative;
	width: 100%;
	height: 100%;
}
